/* Zerando Margem e Padding*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*Estilizacao da NavBar*/
.nav-bar{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: rgb(42, 213, 42);
}
.img-home{
    width: 200px;
    height: 100%;
}

img {
    width: 200px;
}
li{
    list-style: none;
}
a{
    display: block;
    text-decoration:none;
    color: white;
    height: 100%;
    padding: 5px;
    padding-top: 25px;
}

a:hover{
    background-color: blue;
}
.links{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items:end;
    height: 100%;
   
}
ul{
    display: block;
    height: 100%;
 
}
.links ul li{
    display: inline-block;
    
    margin-left: 20px;
    margin-right: 5px;
    height: 100%;
   
}
/*Estilizacao do conteudo principal*/
.conteudo-principal{
    background-color: aqua;
    height: 100vh;
    width: 70%;
    margin: auto
}
.card-filmes{
    display: flex;
    background-color: antiquewhite;
    width: 100%;
    height: 500px;
    align-items: center;
    padding: 5px;

}
.capa-filme{
    height: 85%;
    width: 40%;
    background-image: url("./imgs-capas/premoncao.webp");
    background-size: cover;
    border-radius: 5px;
    border: 1px solid black;
}
.sinopse-filme{
    flex: 1;
    height: 85%;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
}